<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gdut.supervisor"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="16" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:theme="@style/MyTheme" >
        <activity
            android:name="com.gdut.supervisor.ui.WelcomeActivity"
            android:theme="@android:style/Theme.Light.NoTitleBar"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- SupervisorActivity，三个表单的主界面 -->
        <activity
            android:name=".ui.SupervisorActivity"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <!-- 表单一对应Activity -->
        <activity
            android:name=".ui.FirstItemActivity"
            android:theme="@android:style/Theme.Black.NoTitleBar" >
        </activity>
        <!-- 表单二对应Activity -->
        <activity
            android:name=".ui.SecondItemActivity"
            android:theme="@android:style/Theme.Black.NoTitleBar" >
        </activity>
        <!-- 表单三对应Activity -->
        <activity
            android:name=".ui.ThirdItemActivity"
            android:theme="@android:style/Theme.Black.NoTitleBar" >
        </activity>
        <activity android:name=".ui.LoginActivity" >
        </activity>
        <activity
            android:name=".ui.MainActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.SearchFormActivity"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.Black.NoTitleBar" >
        </activity>
        <activity
            android:name=".ui.ScheduleActivity"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.Black.NoTitleBar" >
        </activity>
        <activity
            android:name=".ui.PreEntryActivity"
             >
        </activity>
    </application>

</manifest>